<div class="container mb-4">
  <div class="d-flex justify-content-between align-items-center flex-wrap">
    <h1 class="text-primary table-heading-detail">Branch Management</h1>
    <div>
      <button
        class="btn btn-custom-primary px-4 py-2 me-2"
        (click)="openAddModal()"
      >
        Add Branch
      </button>
    </div>
  </div>

  <div class="card border-0 my-4 px-4 py-4">
    <div class="d-md-flex justify-content-between align-items-center my-3">
      <div class="d-flex align-items-center mb-md-0 mb-2">
        <span class="me-1 show-entery-text">Show</span>
        <select
          class="form-control form-select show-entries-select"
          (change)="onTableSizeChange($event)"
        >
          <option *ngFor="let size of tableSizes" [ngValue]="size">
            {{ size }}
          </option>
        </select>
        <span class="ms-1 show-entery-text">entries</span>
      </div>

      <div class="d-flex align-items-center">
        <form [formGroup]="searchbarform" class="d-flex align-items-center">
          <span class="me-1">Search:</span>
          <div>
            <input
              type="text"
              class="form-control search-user position-relative"
              autocomplete="off"
              formControlName="searchbar"
              placeholder="Search by Name, Code, City"
              [ngClass]="{
                'is-invalid':
                  searchbarform.controls['searchbar'].errors &&
                  (searchbarform.controls['searchbar'].touched ||
                    searchbarform.controls['searchbar'].dirty)
              }"
            />
          </div>

          <button class="btn btn-primary search-btn ms-2" (click)="searchfun()">
            <span><i class="fa-solid fa-magnifying-glass form-control-feedback text-white"></i></span>
          </button>
          <button
            class="btn btn-primary search-btn ms-2"
            (click)="resetsearchbar()"
            type="submit"
            *ngIf="showreset == true"
          >
            <span><i class="fa-solid fa-rotate-right form-control-feedback text-white"></i></span>
          </button>
        </form>
      </div>
    </div>
    <div class="table-responsive-sm mt-2">
      <!-- Table View for lg+ -->
      <div class="hidden lg:block">
        <table class="table table-bordered table-hover table-striped mb-0">
          <thead class="table-header">
            <tr *ngFor="let detail of table_heading">
              <th><p class="table-heading">{{ detail.heading0 }}</p></th>
              <th><p class="table-heading">{{ detail.heading1 }}</p></th>
              <th><p class="table-heading">{{ detail.heading2 }}</p></th>
              <th><p class="table-heading">{{ detail.heading3 }}</p></th>
              <th><p class="table-heading">{{ detail.heading4 }}</p></th>
              <th><p class="table-heading">{{ detail.heading5 }}</p></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let user of branchList
                  | paginate
                    : {
                        itemsPerPage: tableSize != 'all' ? tableSize : totalRecords,
                        currentPage: page,
                        totalItems: totalRecords
                      };
                index as i
              "
            >
              <td>
                {{ tableSize * (page - 1) + i + 1 > 0 ? tableSize * (page - 1) + i + 1 : i + 1 }}
              </td>
              <td><p>{{ user.name }}</p></td>
              <td><p>{{ user.code }}</p></td>
              <td><p>{{ user.city }}</p></td>
              <td>
                <p
                  [ngClass]="{
                    'active-status': user.is_active == 1,
                    'deactive-status': user.is_active == 0
                  }"
                >
                  {{ user.is_active == 1 ? "active" : "deactive" }}
                </p>
              </td>
              <td>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="OpenEditModal(user)">Edit</button>
                  <button mat-menu-item (click)="openviewModal(user)">View Details</button>
                  <button
                    mat-menu-item
                    *ngIf="user.is_active; else inactiveButton"
                    (click)="Status(user.id, 0)"
                  >
                    Deactivate
                  </button>
                  <ng-template #inactiveButton>
                    <button mat-menu-item (click)="Status(user.id, 1)">Activate</button>
                  </ng-template>
                </mat-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Card View for mobile -->
      <div class="lg:hidden space-y-4">
        <div
          *ngFor="
            let user of branchList
              | paginate
                : {
                    itemsPerPage: tableSize != 'all' ? tableSize : totalRecords,
                    currentPage: page,
                    totalItems: totalRecords
                  };
            index as i
          "
          class="bg-gray-50 border border-gray-200 rounded-lg p-4"
        >
          <div class="flex justify-between items-center mb-2">
            <div>
              <strong>Sr No:</strong>
              {{ tableSize * (page - 1) + i + 1 > 0 ? tableSize * (page - 1) + i + 1 : i + 1 }}
            </div>
            <button mat-icon-button [matMenuTriggerFor]="cardMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #cardMenu="matMenu">
                <button mat-menu-item (click)="OpenEditModal(user)">Edit</button>
                <button mat-menu-item (click)="openviewModal(user)">View Details</button>
                <button
                  mat-menu-item
                  *ngIf="user.is_active; else inactiveButton"
                  (click)="Status(user.id, 0)"
                >
                  Deactivate
                </button>
                <ng-template #inactiveButton>
                  <button mat-menu-item (click)="Status(user.id, 1)">Activate</button>
                </ng-template>
              </mat-menu>
          </div>
          <div class="mb-1"><strong>Name:</strong> {{ user.name }}</div>
          <div class="mb-1"><strong>Code:</strong> {{ user.code }}</div>
          <div class="mb-2"><strong>City:</strong> {{ user.city }}</div>
          <div>
            <strong>Status:</strong>
            <span
              [ngClass]="{
                'active-status': user.is_active == 1,
                'deactive-status': user.is_active == 0
              }"
            >
              {{ user.is_active == 1 ? "active" : "deactive" }}
            </span>
          </div>
        </div>
      </div>

      <div class="d-md-flex justify-content-between bottom-0 end-0 py-2 align-items-center">
        <span class="showalltext">
          Showing {{ tableSize * (page - 1) > 0 ? tableSize * (page - 1) + 1 : 1 }} to
          {{ tableSize * page <= totalRecords ? tableSize * page : totalRecords }} of {{ totalRecords }} entries
        </span>
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          [responsive]="true"
          (pageChange)="onTableDataChange($event)"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- Add Modal -->
<div *ngIf="createBranchOpen" class="modal-container">
  <div class="modal-contenttop modal-content-50" [@fadeIn]>
    <form [formGroup]="createBranchForm">
      <div class="card">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
          <h5 class="modal-title pt-1 mb-0 tt-color">Add Branch</h5>
          <button class="cross-btn-icon bg-transparent border-0" type="button" (click)="closeModal()">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label class="form-label form-lable-custom">Branch Name</label>
            <input type="text" class="form-control form-input-custom" formControlName="name" />
          </div>
          <div class="mb-3">
            <label class="form-label form-lable-custom">Branch Code</label>
            <input type="text" class="form-control form-input-custom" formControlName="code" />
          </div>
          <div class="mb-3">
            <label class="form-label form-lable-custom">City</label>
            <input type="text" class="form-control form-input-custom" formControlName="city" />
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary px-4 py-2 me-2" type="button" (click)="closeModal()">Cancel</button>
          <button class="btn btn-custom-primary px-4 py-2" type="button" (click)="createBranch()">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Update Modal -->
<div *ngIf="updateBranchOpen" class="modal-container">
  <div class="modal-contenttop modal-content-50" [@fadeIn]>
    <form [formGroup]="updateBranchForm">
      <div class="card">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
          <h5 class="modal-title pt-1 mb-0 tt-color">Update Branch</h5>
          <button class="cross-btn-icon bg-transparent border-0" type="button" (click)="closeModal()">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label class="form-label form-lable-custom">Branch Name</label>
            <input type="text" class="form-control form-input-custom" formControlName="name" />
          </div>
          <div class="mb-3">
            <label class="form-label form-lable-custom">Branch Code</label>
            <input type="text" class="form-control form-input-custom" formControlName="code" />
          </div>
          <div class="mb-3">
            <label class="form-label form-lable-custom">City</label>
            <input type="text" class="form-control form-input-custom" formControlName="city" />
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary px-4 py-2 me-2" type="button" (click)="closeModal()">Cancel</button>
          <button class="btn btn-custom-primary px-4 py-2" type="button" (click)="updateBranch()">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- View Modal -->
<div *ngIf="viewBranchOpen" class="modal-container">
  <div class="modal-contenttop modal-content-50" [@fadeIn]>
    <form [formGroup]="viewBranchForm">
      <div class="card">
        <div class="card-header bg-white d-flex justify-content-between align-items-center">
          <h5 class="modal-title pt-1 mb-0 tt-color">View Branch</h5>
          <button class="cross-btn-icon bg-transparent border-0" type="button" (click)="closeModal()">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label class="form-label form-lable-custom">Branch Name</label>
            <input type="text" formControlName="name" readonly class="form-control form-input-custom" />
          </div>
          <div class="mb-3">
            <label class="form-label form-lable-custom">Branch Code</label>
            <input type="text" formControlName="code" readonly class="form-control form-input-custom" />
          </div>
          <div class="mb-3">
            <label class="form-label form-lable-custom">City</label>
            <input type="text" formControlName="city" readonly class="form-control form-input-custom" />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
