<div class="card border-0 shadow-lg shadow-cyan-500" style="height: 100%">
  <div class="card-body px-5 py-4">
    <div class="text-center mb-3">
      <img src="./assets/logo.png" class="logo-image mt-0" />
      <h3
        class="text-primary pb-2 text-center login-border-text text-capitalize text-primary"
      >
        {{ title }}
      </h3>
    </div>
    <form [formGroup]="signIn">
      <div class="mb-3">
        <label
          class="d-block text-capitalize form-label form-lable-custom"
          for="Email"
          >Enter Your Email</label
        >
        <input
          type="text"
          class="d-block form-control form-input-custom"
          formControlName="Email"
          placeholder="Enter Your Email"
          [readonly]="isOtpSent"
          [ngClass]="{
            'is-invalid':
              signIn.controls['Email'].errors &&
              (signIn.controls['Email'].touched ||
                signIn.controls['Email'].dirty)
          }"
        />
        <div
          class="text-danger error-message"
          *ngIf="
            signIn.controls['Email'].errors &&
            (signIn.controls['Email'].touched || signIn.controls['Email'].dirty)
          "
        >
          <p
            class="fw-light text-danger"
            *ngIf="signIn.controls['Email'].errors['required']"
          >
            Email is required
          </p>
          <p
            class="fw-light text-danger"
            *ngIf="signIn.controls['Email'].errors['pattern']"
          >
            Please Enter correct email
          </p>
        </div>
      </div>

      <div class="mb-3 position-relative" *ngIf="isOtpSent">
        <label
          class="d-block text-capitalize form-label form-lable-custom"
          for="Otp"
          >Enter OTP</label
        >
        <input
          type="text"
          class="d-block form-control form-input-custom"
          formControlName="Otp"
          placeholder="Enter 6 Digit OTP"
          maxlength="6"
          [ngClass]="{
            'is-invalid':
              signIn.controls['Otp'].errors &&
              (signIn.controls['Otp'].touched ||
                signIn.controls['Otp'].dirty)
          }"
        />
        <div
          class="text-danger error-message"
          *ngIf="
            signIn.controls['Otp'].errors &&
            (signIn.controls['Otp'].touched ||
              signIn.controls['Otp'].dirty)
          "
        >
          <p
            class="fw-light text-danger"
            *ngIf="signIn.controls['Otp'].errors['required']"
          >
            OTP is required
          </p>
          <p
            class="fw-light text-danger"
            *ngIf="signIn.controls['Otp'].errors['minlength'] || signIn.controls['Otp'].errors['maxlength']"
          >
            OTP must be 6 digits
          </p>
        </div>
        <p
          class="text-end text-primary cursor mt-1"
          (click)="resetEmail()"
        >
          Change Email?
        </p>
      </div>
      <div>
        <button
          *ngIf="!isOtpSent"
          class="btn btn-custom-primary px-5 mt-3 w-100 text-white"
          (click)="sendOtp()"
        >
          Send OTP
        </button>
        <button
          *ngIf="isOtpSent"
          class="btn btn-custom-primary px-5 mt-3 w-100 text-white"
          (click)="VerifyOtpfun()"
        >
          Verify & Login
        </button>
        <div class="text-end error-message" *ngIf="!submitted">
          <p class="fw-light text-danger">{{ errorMessage }}</p>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Create Employer forms start -->
<div
  *ngIf="openSecondsuccess"
  class="your-animation-class modal-container-success"
  [@slideIn]
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div>
    <div
      class="p-4 d-flex justify-content-between align-items-center success-content"
    >
      <span class="icon-success me-2"><i class="fa-solid fa-check"></i></span>
      <p class="text-green-900 text-capitalize">Login successfully</p>
    </div>
  </div>
</div>
